@model IEnumerable<Inventario.Models.Usuario>

@{    ViewBag.Title = "Administración de usuarios";
      Layout = "~/Views/Shared/SuperadminLayout.cshtml";
}

<h2 class="text-center titulo" >Administrar Usuarios</h2>

<p>
    @Html.ActionLink("Agregar Usuario", "Register")
</p>
<table class="table">
   <thead class="table-secondary border-bottom">
       <tr>
           <td>Cedula </td>
           <td>Nombre</td>
           <td>Contraseña</td>
           <td>Nivel de privilegio</td>
           <td>Administrar</td> 
       </tr>
   </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cedula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contraseña)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.privilegio)
                </td>
                <td>
                    @Html.ActionLink("Editar", "EditarUsuario", new { id = item.UserID })|
                    @Html.ActionLink("Eliminar", "EliminarUsuario", new { id = item.UserID })
                </td>
            </tr>
        }
    </tbody>
</table>
