@model Inventario.Models.Usuario

@{
    ViewBag.Title = "Pagina Principal";
    Layout = "~/Views/Shared/SuperadminLayout.cshtml";
}

<div class="container-fluid">

    <div class="row border-bottom">
        <div class="col-3" >
            <p class="fa-2x">Bienvenido, @HttpContext.Current.Session["Nombre"].ToString() </p>
        </div>
        <div class="col offset-2">
                <p class="fa-2x">
                    <i class="fa fa-home"></i>
                    Pagina de Inicio
                </p>
            
        </div>
        <div class="col offset-2">
            <a href="@Url.Action("login", "login")" class="btn ">
                <i class="fa fa-sign-out fa-2x"></i>
                <span class="fa-2x">
                    Cerrar Sesion
                </span>
            </a>
           
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <a href="@Url.Action("VerBienes", "Bienes")" class="btn ">
                <i class="fa fa-eye fa-2x"></i>
                <span>
                    <strong>Ver Bienes</strong>
                </span>
            </a>
        </div>
        <div class="col">
            <a href="@Url.Action("AnadirBienes", "Bienes")" class="btn ">
                <i class="fa fa-plus-circle fa-2x"></i>
                <span>
                    <strong>Anadir Bienes</strong>
                </span>
            </a>
            
        </div>
        
        <div class="col">
            <a href="@Url.Action("ActualizarBienes", "Bienes")" class="btn ">
                <i class="fa fa-pencil-square fa-2x"></i>
                <span>
                    <strong>Editar Bien</strong>
                </span>
            </a>
           
        </div>
        <div class="col">
            <a href="@Url.Action("DarBaja", "Bienes")" class="btn ">
                <i class="fa fa-trash fa-2x"></i>
                <span>
                    <strong>Dar de Baja bien</strong>
                </span>
            </a>
        </div>
    
    </div>
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col">
            <a href="@Url.Action("AccountManage", "Login")" class="btn ">
                <i class="fa fa-user fa-2x"></i>
                <span>
                    <strong>Administrar Usuarios</strong>
                </span>
            </a>
        </div>

        <div class="col">

            <a href="@Url.Action("VerEspecialidades", "Especialidad")" class="btn ">
                <i class="fa fa-book fa-2x"></i>
                <span>
                    <strong>Especialidades</strong>
                </span>
            </a>
        </div>
        <div class="col">
            <a href="@Url.Action("VerFacturas", "Facturas")" class="btn ">
                <i class="fa fa-list-alt fa-2x"></i>
                <span>
                    <strong>Administrar Facturas</strong>
                </span>
            </a>
        </div>
        <div class="col">
           
            <a href="@Url.Action("VerManual","Home")" target="_blank" class="btn">
               <i class="fa fa-info fa-2x"></i>
                <span>
                    <strong>
                        Manual de usuario
                    </strong>
                </span>
            </a>
        </div>
    </div>
</div>

