@model Inventario.Models.Especialidad

@{
    ViewBag.Title = "EditarEspecialidad";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2 class="text-center titulo">Editar Especialidad</h2>

<div class="container">
    @using (Html.BeginForm("AdminEditarEspecialidad", "Especialidad", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)

            <div class="form-group">
                <label  for="" class="control-label ">Nombre de la Especialidad</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.nombreEspecialidad, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.nombreEspecialidad, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col offset-6">
                    <input type="submit" value="Guardar" class="btn btn-outline-secondary" />
                </div>
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("Volver", "AdminVerEspecialidades")
    </div>
</div>