@model Inventario.Models.Usuario

@{
    ViewBag.Title = "Eliminar Usuario";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<div>
    <h2 class="text-center titulo">Eliminar usuario</h2>
    <h3 class="text-center">Deseas Eliminar este usuario?</h3>

    <div class="offset-2 container" border="5px">
        <dl class="dl-horizontal" border="5px">
            <dt class="offset-5">
                @Html.DisplayNameFor(model => model.Cedula)
            </dt>

            <dd class="offset-5">
                @Html.DisplayFor(model => model.Cedula)
            </dd>

            <dt class="offset-5">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd class="offset-5">
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt class="offset-5">
                @Html.DisplayNameFor(model => model.Contraseña)
            </dt>

            <dd class="offset-5">
                @Html.DisplayFor(model => model.Contraseña)
            </dd>

            <dt class="offset-5">
                @Html.DisplayNameFor(model => model.privilegio)
            </dt>

            <dd class="offset-5">
                @Html.DisplayFor(model => model.privilegio)
            </dd>

        </dl>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color offset-5">
                <input type="submit" value="Eliminar Usuario" class="btn btn-outline-secondary" />
            </div>
        }
        <div class="offset-1">
            @Html.ActionLink("Volver", "AccountManage", "Login")
        </div>

    </div>

</div>

